$logo-orange: #ff5e3a;
$default-blue: #387da5;
$white: #fff;
$light-gray: #e7e7e7;
$dark-gray: #4c4743;
$main-bg: #f1f1f1;

body{
	font-family: "Open Sans";
	font-style: normal;
}

.fa{
	color: $light-gray;
}

.site-nav{
	margin-top: 10%;
	.row{
		padding: 10px 0;
	}
}
.container-fluid{

}
.top-nav{
	background-color: $default-blue;
	padding: 0;
	.logo{
		padding: 8px 15px;
	}
}
.top-nav.navbar{
	border-radius: 0;
}
.logo{
	font-size: 24px;
	font-weight: bold;
	.logo-bg{
		background-color: $logo-orange;
		width: 44px;
		height: 44px;
		border-radius:5px;
		display: inline-block;
	}
	.logo-text{		
		color: $white;
		display: block;
		width: 44px;
		height: 44px;
		line-height: 1.75em;
	}
	.logo-title{
		margin-left: 10px;
		color: $white;
	}
}

.header-navbar{
	.nav{
		height: 60px;
		padding: 0 15px;
		.nav-item{
			float: left;
			position: relative;
			height: 100%;
			line-height: 40px;
			border-left: 1px solid $light-gray;
			margin: 0;
			padding: 8px 15px;
			.nav-link{
				height: 100%;
				line-height: inherit;
				text-align: center;
				color: $light-gray;				
				.badge{
					font-size: 12px;
					font-family: "Open Sans";
					font-style: normal;
				    height: 20px;
				    line-height: 1em;
				    padding: 5px;
				    margin: -20px -20px 0 0;
				}
			}
			.nav-link:hover span i{
				color: darken($light-gray, 20%);
			}
			.nav-user-info{
				.nav-user-photo{
					border-radius: 50%;
				}
				.nav-user-name{
					max-width: 110px;
				}
			}
			.dropdown-menu{
				padding: 10px 0 0 0;
				color: $dark-gray;
				width: 240px;
				.fa{
					color: $dark-gray;
					margin-left: 5px;
				}
				.dropdown-menu-header{
					background-color: #fbfbfb;
					line-height: 1em;
					padding: 0 10px 10px 10px;
					border-bottom: 1px solid $light-gray;
				}
				.dropdown-menu-body{
					font-size: 14px;
					padding: 0 10px 10px 10px; 
					.dropdown-items{
						padding: 0;
						.dropdown-item{
							border-bottom: 1px solid $light-gray;
							float: left;
    						padding: 10px 0 10px 0;
							.dropdown-item-photo{
								width: 51px;
								height: 51px;
								border-radius: 0;
								background-color: $dark-gray;
								float: left;
							}
							.dropdown-item-details{
								display: inline-block;
								width: 160px;
								padding-left: 10px;
								white-space: normal;
								line-height: 14px;
								margin: 0;
							}
							.dropdown-item-time{
								float: left;
								padding-left: 10px;

							}
						}
					}
				}
				.dropdown-menu-footer{
					background-color: $default-blue;
					padding: 10px; 		
					display: inline-block;
				    float: left;
				    width: 100%;	
				    text-align: center;		
				    line-height: 1em;
					.footer-link{
						color: $white;
					}
				}
			}
			.user-menu{
				width: 150px;
				right: 0;
				left: auto;
				padding: 0;
				.dropdown-menu-body{
					.dropdown-items{
						.dropdown-item{
							border: none;
							.dropdown-link{
								color: $dark-gray;
							}
						}
					}					
				}
				
			}
			.dropdown-toggle::after{
				border: 0;
			}
		}
		.last{
			padding-right: 0;
		}
	}
}

.middle-header{
	background-color: $dark-gray;
	.breadcrumb-search{
		background-color: $main-bg;
		.breadcrumb{
			background-color: $main-bg;
			border-bottom: 1px solid $light-gray;
			margin: 0;
			padding: 13px 16px;
			.breadcrumb-link{
				.fa{
					color: inherit;
				}
			}
			.search-box{
				.search-input{
					border: 1px solid $light-gray;
					padding: 3px 30px 3px 10px;
				}
				.fa-search{
					margin-left: -25px;
					color: $dark-gray;
				}
			}
		}
	}
}

.side-nav{
	padding: 0;
	background-color: $dark-gray;
	.menu-toggler{
		padding: 10px 15px 11px 15px ;
		font-size: 20px;
		display: inline-block;
	}
	.nav{
		.nav-item{
			font-size: 20px;
			.nav-link{
				color: $light-gray;
				padding: 15px;
				display: inline-block;
				width: 100%;
				line-height: 1em;
				.link-text{
					padding-left: 5px;
				}
				.fa-lock{
					padding-right: 5px;
				}
			}
			.nav-link:hover, .nav-link.active{
				background-color: #3f3a36;
			}
		}
	}
}

.main-container{
	background-color: $dark-gray;
	.row{
		padding-bottom: 10px;
	}
	.main-content{
		background-color: $main-bg;
	}
	.alerts{
		min-height: 20px;
	}
	.alert{
		margin: 16px 0 10px 0;
		.fa{
			color: inherit;
		}
	}
	.quick-info{
		.quick-info-box {
			background-color: $white;
			margin-right: 20px;
			height: 75px;
			width: 100%;
		}		
		.fa{
			color: $white;
			font-size: 36px;
			height: 75px;
			width: 75px;
			padding: 18px;
			float: left;
			margin-right: 10px;
		}
		.fa-area-chart{
			background-color: #ff5e3a;
		}
		.fa-cart-arrow-down{
			background-color: #76c80e;
		}
		.fa-truck{
			background-color: #ff9500;
		}
		.fa-eye{
			background-color: #1fbba6;
		}
		.value{
			float: right;
			font-size: 24px;
			color: $dark-gray;
			padding: 7px 20px 0 0;
		}
		.title{
			clear: right;
    		float: left;
		}
	}
	.card{
		min-height: 200px;
	}
	.user-visits{

	}
		
}
.page-footer{
	background-color: $default-blue;
	.copyright{
		padding: 20px;
		color: $white;
	}
}