@media (max-width: 34em) {
	.middle-header{
		.side-nav{
			left: 0;
		    position: absolute;
		    top: 60px;
		    z-index: 999;
		    .menu-toggler{
		    	padding: 14px 15px 15px;
		    }
		}
		.breadcrumb-search{
			.breadcrumb{
				margin-left: 35px;
			}
		}
	}	
}
@media (min-width: 34em) {
	.side-nav{
		.nav{
			.nav-link{
				.link-text, .fa-chevron-right, .fa-lock {
					display: none;
				}
			}
		}
	}	
	.main-container{
		.side-nav{
			margin-top: -58px;
		}
	}
}
// Medium devices (tablets, 48em and up)
@media (min-width: 48em) {
	.side-nav{		
		.nav{
			.nav-link{
				.link-text, .fa-chevron-right, .fa-lock {
					display: none;
				}
			}
		}
	}
}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {
	.side-nav{
		.nav{
			.nav-link{
				.link-text, .fa-chevron-right, .fa-lock {
					display: inline;
				}
			}
		}
	}

}
